body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2588_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:363px;
  height:111px;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:359px;
  height:107px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F6B84C;
}
#u2588 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2589 {
  position:fixed;
  left:0px;
  top:0px;
}
#u2589_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:359px;
  height:76px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2589_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:20px;
  display:flex;
}
#u2590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:56px;
  background:inherit;
  background-color:rgba(97, 18, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#F2E5E8;
  text-align:left;
  line-height:22px;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:359px;
  height:56px;
  display:flex;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#F2E5E8;
  text-align:left;
  line-height:22px;
}
#u2592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 23px;
  box-sizing:border-box;
  width:100%;
}
#u2592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:1px;
  width:19px;
  height:19px;
  display:flex;
}
#u2593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:1px;
  width:19px;
  height:19px;
  display:flex;
}
#u2594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:32px;
  width:32px;
  height:32px;
  display:flex;
}
#u2597 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2597_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2597.mouseOver {
}
#u2597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:40px;
  width:16px;
  height:16px;
  display:flex;
}
#u2599 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:12px;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:42px;
  width:2px;
  height:12px;
  display:flex;
}
#u2600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2602_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-4px;
  width:192px;
  height:132px;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:64px;
  width:180px;
  height:120px;
  display:flex;
}
#u2602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2604_img {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-4px;
  width:44px;
  height:44px;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:32px;
  width:32px;
  height:32px;
  display:flex;
}
#u2604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:32px;
  width:32px;
  height:32px;
  display:flex;
}
#u2605 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:40px;
  width:16px;
  height:16px;
  display:flex;
}
#u2608 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:12px;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:42px;
  width:2px;
  height:12px;
  display:flex;
}
#u2609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:3px;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:46px;
  width:13px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:0.16px;
}
#u2611 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:144px;
  width:180px;
  height:40px;
  display:flex;
  letter-spacing:0.16px;
}
#u2611 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
#u2611_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(218, 30, 40, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:0.16px;
}
#u2611.mouseOver {
}
#u2611_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:0.16px;
}
#u2611.disabled {
}
#u2611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u2613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  display:flex;
}
.u2613 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
.u2613_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(229, 229, 229, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2613.mouseOver {
}
.u2613_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2613.disabled {
}
.u2613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u2614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
.u2614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:180px;
  height:1px;
  display:flex;
}
.u2614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2612-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u2612-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:180px;
  height:40px;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:64px;
  width:180px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 142, 93, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#685231;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:150px;
  width:151px;
  height:28px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#685231;
}
#u2616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2616_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:28px;
  background:inherit;
  background-color:rgba(179, 142, 93, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 142, 93, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#685231;
}
#u2616.mouseOver {
}
#u2616_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:28px;
  background:inherit;
  background-color:rgba(179, 142, 93, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 142, 93, 1);
  border-radius:3px;
  -moz-box-shadow:0px 4px 6px 0px rgba(162, 129, 79, 1) inset;
  -webkit-box-shadow:0px 4px 6px 0px rgba(162, 129, 79, 1) inset;
  box-shadow:0px 4px 6px 0px rgba(162, 129, 79, 1) inset;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#685231;
}
#u2616.selected {
}
#u2616_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:28px;
  background:inherit;
  background-color:rgba(179, 142, 93, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 142, 93, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#685231;
}
#u2616.disabled {
  opacity:0.7;
}
#u2616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#226328;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:84px;
  width:328px;
  height:49px;
  display:flex;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#226328;
}
#u2618 .text {
  position:absolute;
  align-self:center;
  padding:4px 2px 2px 5px;
  box-sizing:border-box;
  width:100%;
}
#u2618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(206, 206, 206, 1);
  border-radius:5px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:183px;
  width:334px;
  height:111px;
  display:flex;
}
#u2621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:238px;
  width:274px;
  height:1px;
  display:flex;
}
#u2622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:249px;
  width:274px;
  height:23px;
  display:flex;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2623 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:205px;
  width:274px;
  height:23px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2624 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2625 {
  position:fixed;
  left:50%;
  margin-left:-162.5px;
  top:50%;
  margin-top:-86.5px;
  visibility:hidden;
}
#u2625_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:325px;
  height:173px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2625_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(206, 206, 206, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:173px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2627 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#F6B84C;
  text-align:center;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:134px;
  width:87px;
  height:28px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#F6B84C;
  text-align:center;
}
#u2628 .text {
  position:absolute;
  align-self:center;
  padding:0px 7px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:70px;
  width:287px;
  height:28px;
  display:flex;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2629 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#F6B84C;
  text-align:center;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:134px;
  width:104px;
  height:28px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#F6B84C;
  text-align:center;
}
#u2630 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F6B84C;
  text-align:center;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:134px;
  width:96px;
  height:28px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F6B84C;
  text-align:center;
}
#u2631 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:123px;
  width:295px;
  height:1px;
  display:flex;
}
#u2632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2625_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:325px;
  height:173px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2625_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(206, 206, 206, 1);
  border-radius:3px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:173px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2634 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u2634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F6B84C;
  text-align:right;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:125px;
  width:96px;
  height:28px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F6B84C;
  text-align:right;
}
#u2635 .text {
  position:absolute;
  align-self:center;
  padding:0px 7px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:70px;
  width:287px;
  height:28px;
  display:flex;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2636 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F6B84C;
  text-align:center;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:125px;
  width:96px;
  height:28px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F6B84C;
  text-align:center;
}
#u2637 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F6B84C;
  text-align:center;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:125px;
  width:96px;
  height:28px;
  display:flex;
  font-family:'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#F6B84C;
  text-align:center;
}
#u2638 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(200, 172, 129, 1);
  border-radius:10px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:333px;
  width:365px;
  height:120px;
  display:flex;
}
#u2640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#9F8662;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:382px;
  width:142px;
  height:23px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#9F8662;
}
#u2641 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:114px;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:336px;
  width:132px;
  height:114px;
  display:flex;
}
#u2642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(200, 172, 129, 1);
  border-radius:10px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:549px;
  width:334px;
  height:120px;
  display:flex;
}
#u2644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#9F8662;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:600px;
  width:152px;
  height:18px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#9F8662;
}
#u2645 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:87px;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:562px;
  width:92px;
  height:87px;
  display:flex;
}
#u2646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(200, 172, 129, 1);
  border-radius:10px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:411px;
  width:334px;
  height:120px;
  display:flex;
}
#u2648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#9F8662;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:462px;
  width:123px;
  height:18px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#9F8662;
}
#u2649 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:114px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:414px;
  width:120px;
  height:114px;
  display:flex;
}
#u2650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2651 {
  position:absolute;
  left:409px;
  top:505px;
  visibility:hidden;
}
#u2651_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:334px;
  height:46px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2651_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(200, 172, 129, 1);
  border-top:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:46px;
  display:flex;
}
#u2654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2655_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:268px;
  height:25px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:11px;
  width:266px;
  height:23px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
  font-size:16px;
}
#u2655 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:14px;
  width:19px;
  height:19px;
  display:flex;
}
#u2656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2651_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:365px;
  height:46px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2651_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:46px;
  background:inherit;
  background-color:rgba(227, 225, 225, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(200, 172, 129, 1);
  border-top:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  color:#737373;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:46px;
  display:flex;
  color:#737373;
}
#u2659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2660_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:293px;
  height:25px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:291px;
  height:23px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#9D9797;
}
#u2660 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:14px;
  width:19px;
  height:19px;
  display:flex;
}
#u2661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2651_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:365px;
  height:226px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2651_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(200, 172, 129, 1);
  border-top:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.349019607843137);
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:226px;
  display:flex;
}
#u2664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:40px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:361px;
  height:40px;
  display:flex;
}
#u2665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2666_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:20px;
  height:19px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:14px;
  width:18px;
  height:17px;
  display:flex;
}
#u2666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2667_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:300px;
  height:23px;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:298px;
  height:21px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-style:normal;
  font-size:16px;
}
#u2667 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u2669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.u2669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:37px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.u2669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u2669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
.u2670 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:9px;
  width:19px;
  height:19px;
  display:flex;
}
.u2670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2668-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:37px;
}
#u2668-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:353px;
  height:37px;
}
#u2668-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:353px;
  height:37px;
}
#u2668-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:353px;
  height:37px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:53px;
  width:353px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:2px;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:40px;
  width:351px;
  height:1px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E8E8E8;
}
#u2671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2672 {
  position:fixed;
  left:409px;
  bottom:0px;
  visibility:hidden;
}
#u2672_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2672_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  background:inherit;
  background-color:rgba(253, 253, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(195, 195, 195, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#ECECEC;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
  display:flex;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#ECECEC;
}
#u2674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2672_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:393px;
  height:89px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2672_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:56px;
  background:inherit;
  background-color:rgba(253, 253, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(195, 195, 195, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#ECECEC;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:393px;
  height:56px;
  display:flex;
  font-family:'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#ECECEC;
}
#u2676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 113, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(208, 2, 27, 1);
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFE3E3;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:33px;
  display:flex;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFE3E3;
}
#u2677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:7px;
  width:19px;
  height:19px;
  display:flex;
}
#u2678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:50px;
  background:inherit;
  background-color:rgba(130, 31, 61, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#F9FFF4;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:329px;
  width:328px;
  height:50px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#F9FFF4;
}
#u2679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2679_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 112, 137, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:18px;
  color:#F9FFF4;
}
#u2679.disabled {
}
#u2679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:730px;
  width:334px;
  height:1px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#E8E8E8;
}
#u2680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
