.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.line {
}
.form_disabled {
}
.shape {
}
.ellipse {
}
.icon {
}
.shape1 {
}
.image {
}
.link_button {
  color:#169BD5;
}
.text_field {
  color:#000000;
  text-align:left;
}
.flow_shape {
}
.text_area {
  color:#000000;
  text-align:left;
}
.box_1 {
}
.primary_button {
  color:#FFFFFF;
}
.checkbox {
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.text_field1 {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.snapshot {
}
.sticky_1 {
  text-align:left;
}
.flow_shape1 {
}
.line1 {
}
.menu_item {
}
.hint {
  color:#999999;
}
.button {
}
.line2 {
}
.paragraph1 {
  text-align:left;
}
.box_2 {
}
.text_link {
  color:#0000FF;
}
.box_3 {
}
.image1 {
  color:#000000;
}
.horizontal_line {
}
.text_button {
  color:#02A7F0;
}
._action_chip {
  color:rgba(0, 0, 0, 0.866666666666667);
}
._contained_button {
  color:#FFFFFF;
}
._contained_button_with_icon {
  color:#FFFFFF;
}
._input_chip {
  color:rgba(0, 0, 0, 0.866666666666667);
}
._menu_bg {
}
._outlined_action_chip {
  color:rgba(0, 0, 0, 0.866666666666667);
}
._navigation_rail_item_bg {
}
._helper_text {
  font-size:12px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
}
._label {
}
._tooltips_desktop {
  font-size:12px;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
}
._tooltips_mobile {
  font-size:14px;
  color:rgba(255, 255, 255, 0.866666666666667);
  text-align:left;
}
.dialog_bg {
}
.icomoon {
  font-family:'IcoMoon-Free ', 'IcoMoon-Free', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.c_spacer {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:center;
  line-height:18px;
}
.c_spacer_num {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#1E1E1E;
  text-align:left;
  line-height:normal;
}
.c_spacer_num_sm {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#1E1E1E;
  text-align:left;
  line-height:normal;
}
.c_tab-cont {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#393939;
  text-align:left;
  line-height:18px;
}
.c_tab-cont__hover {
  color:#161616;
}
.c_tab-cont__selected__gry_ {
  font-family:'IBMPlexSans-SemiBold', 'IBM Plex Sans SemiBold', 'IBM Plex Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  color:#161616;
}
.c_tab-cont_right {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#393939;
  text-align:left;
  line-height:18px;
}
.c_table_column {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#525252;
  text-align:left;
  line-height:18px;
}
.c_table_column_header {
  font-family:'IBMPlexSans-SemiBold', 'IBM Plex Sans SemiBold', 'IBM Plex Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_table_exp_content {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#525252;
  text-align:left;
  line-height:18px;
}
.c_text_input {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#161616;
  text-align:left;
  line-height:normal;
}
.c_text_input__disabled {
  color:#C6C6C6;
}
.c_text_input__focused {
}
.c_tile__selected {
}
.c_tooltip_cont_def {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
.c_tooltip_cont_interactive {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
.c_typo__body-short-01 {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_typo__body-short-01_text-02 {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#393939;
  text-align:left;
  line-height:18px;
}
.c_typo__heading-01 {
  font-family:'IBMPlexSans-SemiBold', 'IBM Plex Sans SemiBold', 'IBM Plex Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_typo__heading-03_prd {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#161616;
  text-align:left;
  line-height:26px;
}
.c_typo__helper-text-01 {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.32px;
  color:#6F6F6F;
  text-align:left;
  line-height:16px;
}
.c_typo__label-01 {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.32px;
  color:#393939;
  text-align:left;
  line-height:16px;
}
.c_ui_header_name_ibm {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
.c_ui_header_name_product {
  font-family:'IBMPlexSans-SemiBold', 'IBM Plex Sans SemiBold', 'IBM Plex Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
.c_ui_header_link {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#C6C6C6;
  text-align:left;
  line-height:18px;
}
.c_ui_header_link__hover {
  color:#F4F4F4;
}
.c_ui_header_link__active {
  color:#F4F4F4;
}
.c_ui_header_link__selected {
  color:#C6C6C6;
}
.c_ui_header_sub-parent {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#C6C6C6;
  text-align:left;
  line-height:18px;
}
.c_ui_header_sub-item {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#C6C6C6;
  text-align:left;
  line-height:18px;
}
.c_ui_header_sub-item__hover {
  color:#F4F4F4;
}
.c_ui_header_sub-item__active {
  color:#F4F4F4;
}
.c_ui_header_sub_arrow {
}
.c_ui_header_sub_arrow__hover {
}
.c_ui_header_icon_bg {
}
.c_ui_header_icon_bg__hover {
}
.c_ui_header_icon_bg__selected {
}
.c_ui_header_search_clear {
}
.c_ui_header_search_input {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F4F4F4;
  text-align:left;
  line-height:normal;
}
.c_ui_right_label {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:0.16px;
  color:#8D8D8D;
  text-align:left;
  line-height:16px;
}
.c_ui_right_link {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#C6C6C6;
  text-align:left;
  line-height:18px;
}
.c_ui_right_link__hover {
  color:#F4F4F4;
}
.c_ui_right_link__active {
  color:#F4F4F4;
}
.c_ui_right_link__disabled {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#6F6F6F;
  text-align:left;
  line-height:18px;
}
.c__active-primary {
  color:#FFFFFF;
}
.c__active-secondary {
  color:#FFFFFF;
}
.c__active-danger {
  color:#FFFFFF;
}
.c__active-ui {
}
.c__icon-01 {
}
.c__icon-01__gry_ {
}
.c__icon-02 {
}
.c__icon-03 {
}
.c__interactive-01 {
  color:#FFFFFF;
}
.c__interactive-04 {
  color:#FFFFFF;
}
.c__inverse-01 {
}
.c__inverse-01_line {
}
.c__inverse-02_line {
}
.c__inverse-support-02 {
}
.c__overlay-01 {
}
.c__selected-ui {
}
.c__support-01 {
}
.c__support-02 {
}
.c__support-03 {
}
.c__text-01 {
  color:#161616;
}
.c__text-03 {
  color:#A8A8A8;
}
.c__ui-01 {
}
.c__ui-02 {
}
.c__ui-02___ui-03_line {
}
.c__ui-03 {
}
.c__hover-selected-ui {
}
.c__hover-ui {
  color:#161616;
}
.c__hover-ui_input {
  color:#161616;
}
.c_shadow_0_2px_6px_0__0_3_ {
}
.c_accd_content {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:18px;
}
.c_accd_header {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:18px;
}
.c_breadcr_overflow_menu {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#525252;
  text-align:left;
  line-height:18px;
}
.c_btn_modal_danger {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
.c_btn_modal_secondary {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
.c_btn_notif_lc {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#0F62FE;
  text-align:right;
  line-height:18px;
}
.c_btn_notif_lc__hover {
  color:#0043CE;
}
.c_btn_primary {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:right;
  line-height:18px;
}
.c_btn_secondary {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:right;
  line-height:18px;
}
.c_checkbox {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#171717;
  text-align:left;
  line-height:18px;
}
.c_checkbox__selected {
}
.c_datepicker_day {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  line-height:18px;
}
.c_datepicker_day-ghost {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#393939;
  line-height:18px;
}
.c_datepicker_day-today {
  font-family:'IBMPlexSans-SemiBold', 'IBM Plex Sans SemiBold', 'IBM Plex Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#0F62FE;
  line-height:18px;
}
.c_datepicker_header_mo {
  font-family:'IBMPlexSans-SemiBold', 'IBM Plex Sans SemiBold', 'IBM Plex Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:right;
  line-height:18px;
}
.c_datepicker_year_input {
  font-family:'IBMPlexSans-SemiBold', 'IBM Plex Sans SemiBold', 'IBM Plex Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#161616;
  text-align:left;
  line-height:normal;
}
.c_dropdown_input {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
}
.c_dropdown_item {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
}
.c_dropdown_item_w_chk {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
}
.c_dropdown_separator {
}
.c_focus {
}
.c_focus_-_white {
}
.c_focus_control {
  text-align:left;
  line-height:normal;
}
.c_link {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#0F62FE;
  text-align:left;
  line-height:18px;
}
.c_link__hover {
  color:#054ADA;
}
.c_multiselect_label {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_multiselect_num {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
.c_multiselect_num_clear {
  font-family:'Zapf Dingbats ', 'Zapf Dingbats', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
  line-height:16px;
}
.c_notif_bg_inf_lc {
}
.c_notif_bg_suc_hc {
}
.c_notif_bg_suc_lc {
}
.c_notif_bg_err_lc {
}
.c_notif_bg_war_lc {
}
.c_notif_border_inf_lc {
}
.c_notif_border_suc_lc {
}
.c_notif_icon_black {
}
.c_notif_subtitle_hc {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
.c_notif_subtitle_lc {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_notif_title_hc {
  font-family:'IBMPlexSans-SemiBold', 'IBM Plex Sans SemiBold', 'IBM Plex Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
.c_notif_title_lc {
  font-family:'IBMPlexSans-SemiBold', 'IBM Plex Sans SemiBold', 'IBM Plex Sans', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#161616;
  text-align:left;
  line-height:24px;
}
.c_overflow_option {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_overflow_danger__hover {
  color:#FFFFFF;
}
.c_pagination_left {
}
.c_pagination_right {
}
.c_pagination_select_value {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:right;
  line-height:18px;
}
.c_progress_text__hover {
  color:#0F62FE;
}
.c_search_input_lg {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:20px;
}
.c_search_input_sm {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c_select_input {
  font-family:'IBMPlexSans', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
}
.c_select_option_bg {
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.c_select_option_label {
  font-family:'Helvetica Neue ', 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#565656;
  text-align:left;
  line-height:16px;
}
.c_shadow_0_2px_6px_0__0_2_ {
}
.c__disabled-01 {
  color:#C6C6C6;
}
.c__disabled-02 {
  color:#8D8D8D;
}
.c__disabled-02_text {
  color:#C6C6C6;
}
.c__focus {
}
.c__hover-danger {
  color:#FFFFFF;
}
.c__hover-primary {
  color:#FFFFFF;
}
.c__ui-03_line {
}
.c__ui-05 {
}
.c__ui-05_line {
}
.c__hover-row {
  color:#161616;
}
.c__hover-secondary {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.c__icon-011 {
  color:#171717;
  text-align:left;
  line-height:18px;
}
.dividers {
}
textarea, select, input, button { outline: none; }
